
extends ../layout/main
block variable
  -
    var nameProject = 'lazer-saga'
    // var nameProject = 'template'
    var title_page = 'Квартира 2А'
    var id_page = 'flat-page'
    var class_page = 'flat-page'

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href=`/wp-content/themes/${nameProject}/assets/s3d/styles/s3d.min.css`)
block scripts
  script(defer src=`/wp-content/themes/${nameProject}/assets/s3d/scripts/vendors.bundle.js`)
  script(defer src=`/wp-content/themes/${nameProject}/assets/s3d/scripts/index.bundle.js`)
block content
    .scene(id="scene")
    video.js-video1(height='480px' loop muted playsinline style="display:none")
        source(src=`/wp-content/themes/${nameProject}/assets/video/clean.mp4`)
block header
  include ../includes/header.pug
